@import "tailwindcss";

:root {
  --background: #fafafa;
  /* zinc-50 */
  --foreground: #18181b;
  /* zinc-900 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

.dark {
  --background: #09090b;
  /* zinc-950 */
  --foreground: #f4f4f5;
  /* zinc-100 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}